.navbar-inverse {
    padding: 0;
    font-size: 0.875rem;
    font-family: PremierSans-Regular,Arial,Helvetica Neue,Helvetica,sans-serif;
}

.navbar-brand {
    padding: 0;
}

.navbar .navbar-nav .nav-item {
    font-size: 1.2rem;
}

.table td, .table th {
    text-align: center;
    border-bottom: 1px solid #e8e8e8;
    border-top: 0px;
    padding: .7rem 1rem;
}

.table .team {
    text-align: left;
    width: 25%;
    position: relative;
}

.table td.team:after {
    content: '';
    top: 0.5rem;
    bottom: 0.5rem;
    width: 2px;
    display: block;
    position: absolute;
    background: #76766f;
    background: rgba(0,0,0,.1);
    right: 0;
}

.thead {
    font-size: 0.75rem;
    font-family: PremierSans-Bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    color: #666;
}

.tbody {
    font-family: PremierSans-Regular,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 0.875rem;
    color: #242424;
}

.row1{
    background: #ddd;
}

.row2 {
    background: #ddd;
}

.row3 {
    background: #eee;
}

.row4 {
    background: #eee;
}

.row5 {
    background: #eee;
}